*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Tahoma, sans-serif;
    background-color: rgb(169, 182, 178);
}
header{
    background-color: white;
}
.logo{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    vertical-align: middle;
}
.titolo{
    vertical-align: middle;
    display: inline-block;
}
main{
    background-color: white;
    width: 70%;
    margin: 2rem auto ;
}